
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    padding: 5px;
    max-width: 100%;
    width: 200px;
    height:180px;
}
.first-appearance-tooltip{
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
}
@media screen and (min-width:900px) {
  
.card{
    max-width: 200px;
}
}
.typography__lable{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}
